@model CinemaTicketSystem.Models.Category

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create Category</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary">Add Category</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
